<main class="recommendation-page">
  <div class="title">
    <h4>Recommendations</h4>
    <button (click)="enableAddRule()">Add Rule</button>
  </div>
  <p *ngIf="ruleList?.length === 0 && !addRule" style="text-align: center;">No Rules found.</p>
  <div class="recommendation-form-wrap" *ngIf="addRule">
    <button class="btn-delete" ngbTooltip="Delete" (click)="deleteRuleForm()">Delete</button>
    <div class="form-group">
      <label for="recommendation-type">Choose this recommendation for *</label>
      <select id="recommendation-type" class="form-control" [(ngModel)]="selectedRecommendationType">
        <option *ngFor="let recType of recommendationTypes" [value]="recType">{{recType}}</option>
      </select>
    </div>
    <div *ngIf="selectedRecommendationType !== 'Select'">
      <div class="row">
        <div class="form-group">
          <label for="topic">Topic fired *</label>
          <select id="topic" class="form-control">
            <option disabled selected>Choose topic</option>
            <option>Loan</option>
            <option>Banks</option>
          </select>
        </div>
        <div class="form-group">
          <label for="feature">Feature fired *</label>
          <select id="feature" class="form-control">
            <option disabled selected>Choose feature</option>
            <option>tenure</option>
            <option>interest rate</option>
          </select>
        </div>
      </div>
      <div class="form-group" *ngIf="selectedRecommendationType === 'Feature'">
        <label for="recommendations">Recommended features *</label>
        <select id="recommendations" class="form-control">
          <option disabled selected>Choose feature</option>
          <option>tenure</option>
          <option>interest rate</option>
        </select>
      </div>
      <div class="form-group" *ngIf="selectedRecommendationType === 'Topic'">
        <label for="recommendations">Recommended Topics *</label>
        <select id="recommendations" class="form-control">
          <option disabled selected>Choose topic</option>
          <option>Loan</option>
          <option>Banking</option>
        </select>
      </div>
      <div class="recommendation-save-btn">
        <button class="btn btn-green">Save</button>
      </div>
    </div>
  </div>
  <div *ngFor="let rule of ruleList" class="ruleview-wrap">
    <div class="controls">
      <button class="btn-edit">Edit</button>
      <button class="btn-delete" (click)="deleteRule(rule.id)">Delete</button>
    </div>
    <div class="rule-details">
      <p class="rulename">Recommendation Type</p>
      <p>{{rule.recommendation_type}}</p>
    </div>
    <div class="rule-details">
      <p class="rulename">Topic Fired</p>
      <p>{{rule.topic_predicted.forDisplay}}</p>
    </div>
    <div class="rule-details">
      <p class="rulename">Feature Fired</p>
      <p>{{rule.feature_predicted.forDisplay}}</p>
    </div>
    <div class="rule-details">
      <p class="rulename">Recommendation List</p>
      <div class="recommendation-list">
        <p class="recommendation" *ngFor="let rec of rule.recommendation_list">{{rec.forDisplay}}</p>
      </div>
    </div>

  </div>
</main>
